
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.body{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img::before{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(girl-7628308_1920.jpg); 
    margin: 0;
    background-size: cover;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}
.content {
    color: #fff;
    font-family: "Playwrite GB S", cursive;
    font-size: 60px;
    position: relative;
    z-index: 2;
    text-align: center;
    top: 7%;
}

.form{
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: linear-gradient(45deg, #EA6515, #9E6174);
    height: 50vh;
    width: 20vw;
    padding: 5%;
    box-shadow: 10px 10px 20px rgba(10,10,10, 0.3);
    font-family: "Playwrite GB S", cursive;
    border-radius: 10px 30px ;
}
input::placeholder{
    font-family: "Playwrite GB S", cursive;
    color: #fff;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom:  2px solid #fff;
    width: 100%;
    opacity: 0.3;
    outline: none;
    
}
label{
    color: #fff;
}

button{
    width: 80%;
    height: 15%;
    background-color: #f4f4f4;
    border: 2px solid #9E6174;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 10%;
    padding: 2%;
    font-family: "Playwrite GB S", cursive;
    font-size: medium;
    color: #EA6515;
}
button:hover{
    background-color: black;
    color: linear-gradient(45deg, #EA6515, #9E6174);
    border: none;
}

input:hover{
    border: none;
    border-bottom: 3px solid black;
}

@media(max-width:1000px){
   .body{
    display: flex;
   }
   .img{
    display:none;
   }
   form{
    width: 50vw;
   }
   button{
    margin-top: 10%;
   }
    
}
